 <div id="flash-one" *ngFor='let flashcard of flashcards;let i = index'>
  <li >{{flashcard.name}}</li>
  <button  (click)='toggleDetails(i)'>Toggle Details</button>
  <app-flashdetails *ngIf="flashcard.showDescription" [flashcard]='flashcards'></app-flashdetails>
 </div>

<!-- <div id="flash-two" *ngFor='let flashcard of flashcards;let i = index'>
  <li>{{flashcard.name}}</li>
  <button  (click)='toggleDetails(i)'>Toggle Details</button>
  <app-flashdetails *ngIf="flashcard.showDescription" [flashcard]='flashcards'></app-flashdetails>
</div> -->


